# BTC Cleanup

In [27]:
import pandas as pd

In [28]:
# Create a reference the CSV file desired
csv_path = "btc.csv"

# Read the CSV into a Pandas DataFrame
btc_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
btc_df.head()

,date,txvolume_usd,adjustedtxvolume_usd,txcount,marketcap_usd,price_usd,exchangevolume_usd,realizedcap_usd,generatedcoins,fees,activeaddresses,averagedifficulty,paymentcount,mediantxvalue_usd,medianfee,blocksize,blockcount
0,1/3/09,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/4/09,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/5/09,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/6/09,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/7/09,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:

# # Filter the data so that only date for the last 2 years are in a DataFrame
# btc_dates_df = clean_btc_df.loc[(clean_btc_df['date'] >= "7/1/2017")]
# organized_btc_dates = btc_dates_df[["date", "marketcap_usd", "price_usd"]]
# organized_btc_dates.head()

In [30]:
# Drop NaN Values
clean_btc_df = btc_df.dropna(how="any")
clean_btc_df.head()

,date,txvolume_usd,adjustedtxvolume_usd,txcount,marketcap_usd,price_usd,exchangevolume_usd,realizedcap_usd,generatedcoins,fees,activeaddresses,averagedifficulty,paymentcount,mediantxvalue_usd,medianfee,blocksize,blockcount
1576,4/28/13,6.879868e+07,31537136.80,41702.0,1.500656e+09,135.30,0.0,503515007.4,4425.0000,32.791942,117984.0,8.974296e+06,130171.0,49.980091,0.0005,21597536.0,177.0
1577,4/29/13,1.138128e+08,48216524.64,51602.0,1.491703e+09,134.44,0.0,511015444.9,4349.9988,45.724114,86925.0,8.974296e+06,112426.0,62.425891,0.0005,25676453.0,174.0
1578,4/30/13,8.426632e+07,56867903.11,47450.0,1.598310e+09,144.00,0.0,514278507.5,3725.0000,45.748651,76871.0,9.854414e+06,98258.0,26.942145,0.0005,27042465.0,149.0
1579,5/1/13,1.206825e+08,82087357.75,55176.0,1.543334e+09,139.00,0.0,511047380.3,3775.0000,40.885938,83564.0,1.007629e+07,96129.0,38.671980,0.0005,25727393.0,151.0
1580,5/2/13,9.337533e+07,58237355.01,55295.0,1.292577e+09,116.38,0.0,508395558.4,3350.0000,52.554004,81920.0,1.007629e+07,101721.0,35.382348,0.0005,26388234.0,134.0

In [31]:
# reset index
clean_btc_df.reset_index()

,index,date,txvolume_usd,adjustedtxvolume_usd,txcount,marketcap_usd,price_usd,exchangevolume_usd,realizedcap_usd,generatedcoins,fees,activeaddresses,averagedifficulty,paymentcount,mediantxvalue_usd,medianfee,blocksize,blockcount
0,1576,4/28/13,6.879868e+07,3.153714e+07,41702.0,1.500656e+09,135.30,0.000000e+00,5.035150e+08,4425.0000,32.791942,117984.0,8.974296e+06,130171.0,49.980091,0.000500,21597536.0,177.0
1,1577,4/29/13,1.138128e+08,4.821652e+07,51602.0,1.491703e+09,134.44,0.000000e+00,5.110154e+08,4349.9988,45.724114,86925.0,8.974296e+06,112426.0,62.425891,0.000500,25676453.0,174.0
2,1578,4/30/13,8.426632e+07,5.686790e+07,47450.0,1.598310e+09,144.00,0.000000e+00,5.142785e+08,3725.0000,45.748651,76871.0,9.854414e+06,98258.0,26.942145,0.000500,27042465.0,149.0
3,1579,5/1/13,1.206825e+08,8.208736e+07,55176.0,1.543334e+09,139.00,0.000000e+00,5.110474e+08,3775.0000,40.885938,83564.0,1.007629e+07,96129.0,38.671980,0.000500,25727393.0,151.0
4,1580,5/2/13,9.337533e+07,5.823736e+07,55295.0,1.292577e+09,116.38,0.000000e+00,5.083956e+08,3350.0000,52.554004,81920.0,1.007629e+07,101721.0,35.382348,0.000500,26388234.0,134.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2263,3839,7/9/19,1.235395e+10,4.995521e+09,365434.0,2.187730e+11,12284.33,2.816792e+10,9.260928e+10,1925.0000,71.275023,819099.0,8.587450e+12,495619.0,169.661830,0.000104,177910427.0,154.0
2264,3840,7/10/19,1.537122e+10,8.296089e+09,315535.0,2.239080e+11,12571.54,3.362757e+10,9.322036e+10,1612.5000,85.642971,798533.0,9.064160e+12,535593.0,247.182500,0.000154,163860559.0,129.0
2265,3841,7/11/19,2.136854e+10,9.245040e+09,325647.0,2.162360e+11,12139.71,2.859533e+10,9.327525e+10,1612.5000,79.366675,777672.0,9.064160e+12,518484.0,186.543397,0.000142,161640234.0,129.0
2266,3842,7/12/19,2.012421e+10,7.321528e+09,360735.0,2.022700e+11,11354.30,2.353469e+10,9.359763e+10,2050.0000,67.426687,907403.0,9.064160e+12,530736.0,132.128400,0.000107,202117297.0,164.0
2267,3843,7/13/19,1.531065e+10,6.347855e+09,304404.0,2.104640e+11,11813.13,2.104262e+10,9.364490e+10,1762.5000,44.382209,656426.0,9.064160e+12,382678.0,88.945308,0.000081,147850145.0,141.0

In [32]:
# export to csv 
clean_btc_df.to_csv("clean_btc_df.csv")

In [39]:
# Filter the data so that only date for the last 2 years are in a DataFrame
clean_btc_df = clean_btc_df.drop(clean_btc_df.index[0:1525])

In [40]:
# select only rows needed for analysis
organized_btc_df = clean_btc_df[["date", "marketcap_usd", "price_usd"]]
organized_btc_df.head()

        date  marketcap_usd  price_usd
3101  7/1/17   4.093335e+10    2492.60
3102  7/2/17   4.001616e+10    2436.40
3103  7/3/17   4.104228e+10    2498.56
3104  7/4/17   4.207297e+10    2561.00
3105  7/5/17   4.276554e+10    2602.87

In [43]:
# add number of coins column
organized_btc_number = organized_btc_df['marketcap_usd'].div(organized_btc_df['price_usd'])
organized_btc_df['number_of_coins'] = organized_btc_number
organized_btc_df.head()


# # Rename headers
# organized_btc_dates = organized_btc_dates.rename(
#     columns={"date": "Date", "marketcap_usd": "Market Cap (USD)", "price_usd": "Price (USD)"})
# organized_btc_dates.head()

C:\Users\kiwi\.conda\envs\pydata\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        date  marketcap_usd  price_usd  number_of_coins
3101  7/1/17   4.093335e+10    2492.60     1.642195e+07
3102  7/2/17   4.001616e+10    2436.40     1.642430e+07
3103  7/3/17   4.104228e+10    2498.56     1.642638e+07
3104  7/4/17   4.207297e+10    2561.00     1.642834e+07
3105  7/5/17   4.276554e+10    2602.87     1.643015e+07

In [44]:
# Rename headers
organized_btc_df = organized_btc_df.rename(
    columns={"date": "Date", "marketcap_usd": "Market Cap (USD)", "price_usd": "Price (USD)", "number_of_coins": "Number of Coins"})
organized_btc_df.head()

        Date  Market Cap (USD)  Price (USD)  Number of Coins
3101  7/1/17      4.093335e+10      2492.60     1.642195e+07
3102  7/2/17      4.001616e+10      2436.40     1.642430e+07
3103  7/3/17      4.104228e+10      2498.56     1.642638e+07
3104  7/4/17      4.207297e+10      2561.00     1.642834e+07
3105  7/5/17      4.276554e+10      2602.87     1.643015e+07

In [45]:
count = organized_btc_df["Date"].count()
print(count)

743

In [46]:
organized_btc_df.to_csv("organized_btc_df.csv")

# ADA Cleanup

In [ ]:
# Create a reference the CSV file desired
csv_path_2 = "ada.csv"

# Read the CSV into a Pandas DataFrame
ada_df = pd.read_csv(csv_path_2)

# Print the first five rows of data to the screen
ada_df.head()

In [ ]:
# Drap NaN values
clean_ada_df = ada_df.dropna(how="any")

In [ ]:
# Filter the data so that only date for the last 2 years are in a DataFrame
ada_dates_df = clean_ada_df.loc[clean_ada_df["date"] >= "7/13/17"]
organized_ada_dates = ada_dates_df[["date", "marketcap_usd", "price_usd"]]
organized_ada_dates.head()

In [ ]:
# Rename headers
organized_ada_dates = organized_ada_dates.rename(
    columns={"date": "Date", "marketcap_usd": "Market Cap (USD)", "price_usd": "Price (USD)"})
organized_ada_dates.head()

In [ ]:
count = organized_ada_dates["Date"].count()
print(count)

In [ ]:
organized_ada_dates.to_csv("organized_ada_dates.csv")

# ETH Cleanup

In [ ]:
# Create a reference the CSV file desired
csv_path_3 = "eth.csv"

# Read the CSV into a Pandas DataFrame
eth_df = pd.read_csv(csv_path_3)

# Print the first five rows of data to the screen
eth_df.head()

In [ ]:
# Drap NaN values
clean_eth_df = eth_df.dropna(how="any")

In [ ]:
# Filter the data so that only date for the last 2 years are in a DataFrame
eth_dates_df = clean_eth_df.loc[clean_eth_df["date"] >= "7/13/17"]
organized_eth_dates = eth_dates_df[["date", "marketcap_usd", "price_usd"]]
organized_eth_dates.head()

In [ ]:
# Rename headers
organized_eth_dates = organized_eth_dates.rename(
    columns={"date": "Date", "marketcap_usd": "Market Cap (USD)", "price_usd": "Price (USD)"})
organized_eth_dates.head()

In [ ]:
count = organized_eth_dates["Date"].count()
print(count)

In [ ]:
organized_eth_dates.to_csv("organized_eth_dates.csv")

# BCH Cleanup

In [ ]:
# Create a reference the CSV file desired
csv_path_4 = "bch.csv"

# Read the CSV into a Pandas DataFrame
bch_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
bch_df.head()

In [ ]:
# Drap NaN values
clean_bch_df = bch_df.dropna(how="any")

In [ ]:
# Filter the data so that only date for the last 2 years are in a DataFrame
bch_dates_df = clean_bch_df.loc[clean_bch_df["date"] >= "7/13/17"]
organized_bch_dates = bch_dates_df[["date", "marketcap_usd", "price_usd"]]
organized_bch_dates.head()

In [ ]:
# Rename headers
organized_bch_dates = organized_bch_dates.rename(
    columns={"date": "Date", "marketcap_usd": "Market Cap (USD)", "price_usd": "Price (USD)"})
organized_bch_dates.head()

In [ ]:
count = organized_bch_dates["Date"].count()
print(count)

In [ ]:
organized_bch_dates.to_csv("organized_bch_dates.csv")

# LTC Cleanup

In [ ]:
# Create a reference the CSV file desired
csv_path_5 = "ltc.csv"

# Read the CSV into a Pandas DataFrame
ltc_df = pd.read_csv(csv_path_5)

# Print the first five rows of data to the screen
ltc_df.head()

In [ ]:
# Drap NaN values
clean_ltc_df = ltc_df.dropna(how="any")

In [ ]:
# Filter the data so that only date for the last 2 years are in a DataFrame
ltc_dates_df = clean_ltc_df.loc[clean_ltc_df["date"] >= "7/13/17"]
organized_ltc_dates = ltc_dates_df[["date", "marketcap_usd", "price_usd"]]
organized_ltc_dates.head()

In [ ]:
# Rename headers
organized_ltc_dates = organized_ltc_dates.rename(
    columns={"date": "Date", "marketcap_usd": "Market Cap (USD)", "price_usd": "Price (USD)"})
organized_ltc_dates.head()

In [ ]:
count = organized_ltc_dates["Date"].count()
print(count)

In [ ]:
organized_ltc_dates.to_csv("organized_ltc_dates.csv")